@import './variables';

.nav-bar {
	background-color: #f3f3f3;
	height: 10%;
	display: flex;
	justify-content: space-between;
	padding: 0.5rem calc((100vw - 1000px) / 2);
	z-index: 10;
	position: sticky;

	.logo {
		color: #262626;
		text-decoration: none;

		.logo-img {
			height: 48px;
		}
	}
	.menu {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-right: -24px;

		@media screen and (max-width: 768px) {
			display: none;
		}

		.menu-link {
			color: #262626;
			display: flex;
			align-items: center;
			text-decoration: none;
			padding: 0 1rem;
			height: 100%;
			cursor: pointer;

			&.active {
				color: #ffbe00;
			}
		}
	}
	.nav-btn {
		display: flex;
		align-items: center;
		margin-right: 24px;
		border: none;
		outline: none;

		@media screen and (max-width: 768px) {
			display: none;
		}
		.nav-btn-link {
			border-radius: 4px;
			background: #ffbe00;
			padding: 10px 22px;
			color: #262626;
			font-weight: bold;
			outline: none;
			border: none;
			cursor: pointer;
			transition: all 0.2s ease-in-out;
			text-decoration: none;

			&:hover {
				transition: all 0.2s ease-in-out;
				background: #e7af05;
			}
		}
	}
	.fa-bars {
		display: none;
		color: #262626;
		padding-bottom: 3px;
		@media screen and (max-width: 768px) {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			transform: translate(-100%, 75%);
			font-size: 1.8rem;
			cursor: pointer;
		}
	}
}
