@font-face {
	font-family: 'Sunnyville';
	src: url('../assests/font/sunnyvillekreamery-rgyla-webfont.woff2')
			format('woff2'),
		url('../assests/font/sunnyvillekreamery-rgyla-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
