@font-face {
	font-family: 'Sunnyville';
	src: url('../assests/font/sunnyvillekreamery-rgyla-webfont.woff2')
			format('woff2'),
		url('../assests/font/sunnyvillekreamery-rgyla-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

$yellow: #ffbe00;
$green: #5ac6a5;
$blue: #4fc3f7;
$purple: #bf98cc;
$pink: #ff8eba;
$black: #262626;
$white: #fff;

$primary-colors: $yellow, $green, $blue, $purple, $pink;
