@import './variables.scss';

.container {
	width: 80%;
	height: 90%;
	font-family: 'Sunnyville';
	margin: 0 auto;
	padding-top: 100px;

	h1 {
		margin: 15px 5px;
		font-size: 8em;
		font-family: 'Sunnyville';
	}
	h2 {
		font-size: 5em;
		font-family: 'Sunnyville';
		font-weight: 500;
		margin-bottom: 10px;
	}
	.btn {
		color: $black;
		background: $yellow;
		padding: 11px 22px;
		text-decoration: none;
		font-size: 36px;
		font-weight: 600;
		font-variant: small-caps;
		margin-right: 30px;
		border: none;
		border-radius: 20px;
		font-family: Sunnyville;
		&:hover {
			color: rgba($color: $white, $alpha: 1);
			background: $black;
		}
	}
}
